/* :root son las variables de css o atributos*/
:root {
  --blue: #100688;
  --greenblue: #42e2b8;
  --beige: #f3dfbf;
  --pink: #db8d92;
  --lightblue: #779ada;
  --purple: #cda7e4;
  --grey: #d3cbcb62;
}

/*Changing the color of text selection*/
::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: var(--pink);
}
/*Changing the color of text selection*/
::selection {
  /* Code for the other browser*/
  color: white;
  background: var(--pink);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  /*
    scroll-snap-type: y mandatory;
    scroll-behavior:smooth;*/ /*Smooth scroll effect without using javascript*/
}

/*Box Model code snippet*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px; /* 1rem = 10px*/
  font-family: "Spectral", serif;

  background-color: rgb(240, 240, 172);
  margin: 0px;
  color: black;
}

/**Typography**/
.title {
  width: 20rem; /* 1 rem = 10 px*/
  font-weight: normal;
  font-size: 4rem;

  text-align: left;
  margin: 0 auto;
  margin-left: 1rem;
}

h3 {
  font-size: 2.3rem;
}

h1,
h2,
h3 {
  text-align: center;
  justify-content: center;
  margin-bottom: 1rem;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/**Navigation menu**/
.nav-background {
  background-color: rgb(153, 153, 153);
  width: 100%;
  
}

.menu {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .menu {
    flex-direction: row;
    justify-content: space-around;
  }
  .button {
    width: auto;
  }
}

.menu a {
  text-align: center;
  color: blue;
  font-size: 2.1rem;
  font-weight: normal;
  padding: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  width: 100%;
  outline: solid;
  outline-color: black;
}

.menu a:hover {
  background-color: white;
  color: black;
}

/**Content Page**/
.contentpage {
  display:flex;
  flex-direction:row;
  
}


/**FEED**/
.mainsection {
  display: flex;
  flex-direction: row;
  
}

.feed {
  display: flex;
  flex-direction:column;
}

.post {
  background-color: #779ada;
  border-radius: 1rem;

  padding-bottom: 2rem;

  width: 140%;
  outline: solid;
  outline-color:black;
  align-items:center;
  margin-left:10rem;
  margin-bottom: 2rem;

}

.post h3 {
  background-color: var(--blue);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  color:white;
  margin-top:0;
}

.date {
  
  margin-top:3rem;
  margin-bottom:2rem;
  font-weight:bold;
  margin-left:2rem;
}

.mood {
  font-size:1.9rem;
  font-weight:bold;
}

.message {
  font-size:1.7rem;
  
}

.posttext {
  margin-left:3rem;
}
/**OPTIONS**/
.options {
  display: flex;
  flex-direction: column;
  width: 180px;
  
  
  background-color: lightblue;
  padding-bottom:2rem;
 
}

.options h3 {
  margin: 0;
  background-color: var(--blue);
  color:white;
 
}

.options a {
  margin-bottom:2rem;
  color: blue;

}

.options p {
  margin-bottom:0;
}
